{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>LandingPage.html</title>
    <link rel="shortcuts icon" type="x-icon" href="/JobBoard/JobBoardApp/static/JobBoardApp/images/favicon.png" />
    <link 
    rel="stylesheet" 
    type="text/css" 
    href="{% static 'JobBoardApp/css/LandingPage.css' %}">
    <link
    href="{% static 'fontawesomefree/css/fontawesome.css' %}"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="{% static 'fontawesomefree/css/brands.css' %}"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="{% static 'fontawesomefree/css/solid.css' %}"
    rel="stylesheet"
    type="text/css"
  />
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">

</head>
<body>
  <nav>
    <div class = "logo">
        <img src="{% static '/JobBoardApp/images/logo.png' %}" alt="Example Image">
    </div>
    <div class = "links">
        <ul>
            <li><a href="#featured_jobs"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="#featured_jobs"><i class="fas fa-star"></i> Featured Jobs</a></li>
            <li><a href="#testimonials"><i class="fas fa-comment"></i> Testimonials</a></li>
            <li><a href="#blog"><i class="fas fa-blog"></i> Blog</a></li>
            <li><a href="#about_us"><i class="fas fa-info-circle"></i> About Us</a></li>
            <li><a href="#contact_us"><i class="fas fa-envelope"></i> Contact Us</a></li>
        </ul>        
    </div>

    <div class = "mobile-links">
        <ul>
            <li><a href="#featured_jobs"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="#featured_jobs"><i class="fas fa-star"></i> Featured Jobs</a></li>
            <li><a href="#testimonials"><i class="fas fa-comment"></i> Testimonials</a></li>
            <li><a href="#blog"><i class="fas fa-blog"></i> Blog</a></li>
            <li><a href="#about_us"><i class="fas fa-info-circle"></i> About Us</a></li>
            <li><a href="#contact_us"><i class="fas fa-envelope"></i> Contact Us</a></li>
        </ul>        
    </div>

    <div class = "mobile">
        <i class="fas fa-bars" id = "menu"></i> <!-- Hamburger icon -->
        <i class="far fa-times" id = "times"></i> <!-- Star icon (outline style) -->        
    </div>
  </nav>
  {% comment %} container div {% endcomment %}
  <div class = "container">
    <div class = "flex-container">
        <div class = "text-container">
            <h1>
                Find Your Dream <span>Job</span>
                <br></br>with Ease!
            </h1>
            <br></br>
            <p>
                Welcome to our job board website, where finding the perfect job is
                 made simple. Whether you're seeking a new career opportunity or l
                 ooking to hire talented individuals, we've got you covered. Our p
                 latform offers a wide range of job listings and resources to help
                  you succeed. Browse through our listings, get expert advice, and
                   take the next step in your career journey. Join us today and di
                   scover endless possibilities!
            </p>
            <a href="{% url 'sign_up' %}">Create account <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class = "image-container">
            <img src="{% static '/JobBoardApp/images/jobseeker.jpeg' %}" alt="Example Image">
        </div>
    </div>
    {% comment %} popular category {% endcomment %}
    <div class = "popular-category">
     <p>Popular Category </p>
    </div>
 {% comment %} popular category container {% endcomment %}
    <div class = "popular-category-container">
      <div class="job-department">
        <i class="fas fa-palette"></i>
        <p>Art design & MultiMedia</p>
        <h3>3,494 Jobs</h3>
    </div>
    
    <div class="job-department">
        <i class="fas fa-laptop-code"></i>
        <p>Information Technology</p>
        <h3>6,827 Jobs</h3>
    </div>
    
    <div class="job-department">
        <i class="fas fa-hospital"></i>
        <p>Healthcare</p>
        <h3>4,512 Jobs</h3>
    </div>
    
    <div class="job-department">
        <i class="fas fa-chart-line"></i>
        <p>Finance</p>
        <h3>5,123 Jobs</h3>
    </div>
    
    <div class="job-department">
        <i class="fas fa-headset"></i>
        <p>Customer Service</p>
        <h3>2,345 Jobs</h3>
    </div>
    
    <div class="job-department">
        <i class="fas fa-store-alt"></i>
        <p>Sales</p>
        <h3>3,987 Jobs</h3>
    </div>
    
    <div class="job-department">
        <i class="fas fa-bullhorn"></i>
        <p>Marketing</p>
        <h3>2,876 Jobs</h3>
    </div>
    
    <div class="job-department">
        <i class="fas fa-graduation-cap"></i>
        <p>Education</p>
        <h3>4,567 Jobs</h3>
    </div>
    
    <div class="job-department">
        <i class="fas fa-cogs"></i>
        <p>Engineering</p>
        <h3>3,234 Jobs</h3>
    </div>
    
    <div class="job-department">
        <i class="fas fa-briefcase"></i>
        <p>Administrative</p>
        <h3>2,189 Jobs</h3>
    </div>
    
    <div class="job-department">
        <i class="fas fa-users"></i>
        <p>Human Resources</p>
        <h3>1,876 Jobs</h3>
    </div>

    <div class="job-department">
      <i class="fas fa-users"></i>
      <p>Human Resources</p>
      <h3>1,876 Jobs</h3>
  </div>

  <div class="job-department">
    <i class="fas fa-users"></i>
    <p>Human Resources</p>
    <h3>1,876 Jobs</h3>
</div>

<div class="job-department">
  <i class="fas fa-users"></i>
  <p>Human Resources</p>
  <h3>1,876 Jobs</h3>
</div>

<div class="job-department">
  <i class="fas fa-users"></i>
  <p>Human Resources</p>
  <h3>1,876 Jobs</h3>
</div>

<div class="job-department">
  <i class="fas fa-users"></i>
  <p>Human Resources</p>
  <h3>1,876 Jobs</h3>
</div>

<div class="job-department">
  <i class="fas fa-users"></i>
  <p>Human Resources</p>
  <h3>1,876 Jobs</h3>
</div>

<div class="job-department">
  <i class="fas fa-users"></i>
  <p>Human Resources</p>
  <h3>1,876 Jobs</h3>
</div>

<div class="job-department">
  <i class="fas fa-users"></i>
  <p>Human Resources</p>
  <h3>1,876 Jobs</h3>
</div>


<div class="job-department">
  <i class="fas fa-users"></i>
  <p>Human Resources</p>
  <h3>1,876 Jobs</h3>
</div>
    
     </div>

      {% comment %} Experience level {% endcomment %}

  <div class = "experience-level">
    <p>Jobs by experience level </p>
   </div>

   <div class = "experience-level-container">
    <div class="job-department">
      <p>Entery Level</p>
      <i class="fas fa-palette"></i>
      <p>Art design & MultiMedia</p>
      <h3>3,494 Jobs</h3>
  </div>
  
  <div class="job-department">
    <p>Entery Level</p>
      <i class="fas fa-laptop-code"></i>
      <p>Information Technology</p>
      <h3>6,827 Jobs</h3>
  </div>
  
  <div class="job-department">
    <p>Entery Level</p>
      <i class="fas fa-hospital"></i>
      <p>Healthcare</p>
      <h3>4,512 Jobs</h3>
  </div>
  
  <div class="job-department">
    <p>Entery Level</p>
      <i class="fas fa-chart-line"></i>
      <p>Finance</p>
      <h3>5,123 Jobs</h3>
  </div>
  
  <div class="job-department">
    <p>Entery Level</p>
      <i class="fas fa-headset"></i>
      <p>Customer Service</p>
      <h3>2,345 Jobs</h3>
  </div>
  
  <div class="job-department">
    <p>Entery Level</p>
      <i class="fas fa-store-alt"></i>
      <p>Sales</p>
      <h3>3,987 Jobs</h3>
  </div>
  
  <div class="job-department">
    <p>Entery Level</p>
      <i class="fas fa-bullhorn"></i>
      <p>Marketing</p>
      <h3>2,876 Jobs</h3>
  </div>
  
  <div class="job-department">
    <p>Entery Level</p>
      <i class="fas fa-graduation-cap"></i>
      <p>Education</p>
      <h3>4,567 Jobs</h3>
  </div>
  
  <div class="job-department">
    <p>Entery Level</p>
      <i class="fas fa-cogs"></i>
      <p>Engineering</p>
      <h3>3,234 Jobs</h3>
  </div>
  
  <div class="job-department">
    <p>Entery Level</p>
      <i class="fas fa-briefcase"></i>
      <p>Administrative</p>
      <h3>2,189 Jobs</h3>
  </div>
  
  <div class="job-department">
    <p>Entery Level</p>
      <i class="fas fa-users"></i>
      <p>Human Resources</p>
      <h3>1,876 Jobs</h3>
  </div>

  <div class="job-department">
    <p>Entery Level</p>
    <i class="fas fa-users"></i>
    <p>Human Resources</p>
    <h3>1,876 Jobs</h3>
</div>

<div class="job-department">
  <p>Entery Level</p>
  <i class="fas fa-users"></i>
  <p>Human Resources</p>
  <h3>1,876 Jobs</h3>
</div>

<div class="job-department">
  <p>Entery Level</p>
<i class="fas fa-users"></i>
<p>Human Resources</p>
<h3>1,876 Jobs</h3>
</div>

<div class="job-department">
  <p>Entery Level</p>
<i class="fas fa-users"></i>
<p>Human Resources</p>
<h3>1,876 Jobs</h3>
</div>

<div class="job-department">
  <p>Entery Level</p>
<i class="fas fa-users"></i>
<p>Human Resources</p>
<h3>1,876 Jobs</h3>
</div>

<div class="job-department">
<i class="fas fa-users"></i>
<p>Human Resources</p>
<h3>1,876 Jobs</h3>
</div>

<div class="job-department">
  <p>Entery Level</p>
<i class="fas fa-users"></i>
<p>Human Resources</p>
<h3>1,876 Jobs</h3>
</div>

<div class="job-department">
  <p>Entery Level</p>
<i class="fas fa-users"></i>
<p>Human Resources</p>
<h3>1,876 Jobs</h3>
</div>


<div class="job-department">
  <p>Entery Level</p>
<i class="fas fa-users"></i>
<p>Human Resources</p>
<h3>1,876 Jobs</h3>
</div>
  
   </div>

   <div class = "message-container">
    <div class = "sender">
      <p>Welcome to our job board website, where finding the perfect job is made simple. Whether you're seeking a new career opportunity or l ooking to hire talented individuals, we've got you covered. Our p latform offers a wide range of job listings and resources to help you succeed. Browse through our listings, get expert advice</p>
     </div>

     <div class = "reciever">
      <p>Welcome to our job board website, where finding the perfect job is made simple. Whether you're seeking a new career opportunity or l ooking to hire talented individuals, we've got you covered. Our p latform offers a wide range of job listings and resources to help you succeed. Browse through our listings, get expert advice</p>
     </div>

     <div class = "sender">
      <p>Welcome to our job board website, where finding the perfect job is made simple. Whether you're seeking a new career opportunity or l ooking to hire talented individuals, we've got you covered. Our p latform offers a wide range of job listings and resources to help you succeed. Browse through our listings, get expert advice</p>
     </div>

     <div class = "reciever">
      <p>Welcome to our job board website, where finding the perfect job is made simple. Whether you're seeking a new career opportunity or l ooking to hire talented individuals, we've got you covered. Our p latform offers a wide range of job listings and resources to help you succeed. Browse through our listings, get expert advice</p>
     </div>

     <div class = "sender">
      <p>Welcome to our job board website, where finding the perfect job is made simple. Whether you're seeking a new career opportunity or l ooking to hire talented individuals, we've got you covered. Our p latform offers a wide range of job listings and resources to help you succeed. Browse through our listings, get expert advice</p>
     </div>

     <div class = "reciever">
      <p>Welcome to our job board website, where finding the perfect job is made simple. Whether you're seeking a new career opportunity or l ooking to hire talented individuals, we've got you covered. Our p latform offers a wide range of job listings and resources to help you succeed. Browse through our listings, get expert advice</p>
     </div>

     <div class = "sender">
      <p>Welcome to our job board website, where finding the perfect job is made simple. Whether you're seeking a new career opportunity or l ooking to hire talented individuals, we've got you covered. Our p latform offers a wide range of job listings and resources to help you succeed. Browse through our listings, get expert advice</p>
     </div>

     <div class = "reciever">
      <p>Welcome to our job board website, where finding the perfect job is made simple. Whether you're seeking a new career opportunity or l ooking to hire talented individuals, we've got you covered. Our p latform offers a wide range of job listings and resources to help you succeed. Browse through our listings, get expert advice</p>
     </div>

     <div class="input-container">
      <input type="text" placeholder="Type your message here...">
      <button>Send</button>
   </div>

   <div class = "floating-action-button">
    <i class="fas fa-envelope"></i>
   </div>


  </div>

 

  {% comment %} footer {% endcomment %}

  <footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img src="{% static '/JobBoardApp/images/logo.png' %}" alt="Example Image">
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#about_us">About Us</a></li>
                <li><a href="#contact_us">Contact Us</a></li>
                <li><a href="#terms">Terms of Service</a></li>
                <li><a href="#privacy">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-info">
        <p>&copy; 2024 JobBoard. All Rights Reserved.</p>
    </div>
</footer>

  <script src="{% static 'JobBoardApp/js/LandingPage.js' %}"></script>
</body>
</html>
