*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    padding: 5px;
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

nav .logo img{
    width: 70px;
    height: 40px;
    cursor: pointer;
    margin-left: 30px;
}

nav .links ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .links ul li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

nav .links ul li a{
    color: #080808;
    text-decoration: none;
}

nav ul   li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: orange;
    display: block;
    transition: 0.2s linear;
}

nav ul   li a:hover::after {
    width: 100%;
}

nav ul   li a:hover {
    color: rgb(206, 139, 16);
}

nav ul   li a i{
 color: purple;
}

nav .mobile{
    display: none;
}

nav .mobile i{
    color: purple;
}

nav .mobile #times{
    display: none;
}

nav .mobile-links{
    display: none;
}

@media screen and (max-width: 676px) {
    nav .mobile{
        display: block;
        cursor: pointer;
    }

    nav .links{
        display: none;
    }

    nav .mobile-links{
        display: block;
    }

    nav .mobile-links{
        width: 250px;
        height: 100vh;
        background-color: white;
        position: absolute;
        top: 55px;
        right: -250px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    nav .mobile-links ul li{
        list-style: none;
        margin-bottom: 20px;
    }

    nav .mobile-links ul li a{
        text-decoration: none;
    }

    nav .links ul li{
        list-style: none;
        padding: 0px 40px;
        position: relative;
    }

    nav .links ul li a{
        font-size: 16px;
    }

}

.container{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 90;
    margin-top: 55px;
}

.container .flex-container{
    width: 100%;
    height: auto;
    /* background-color: rgb(118, 37, 37); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .container .flex-container{
        display: flex;
      flex-direction: column;
      align-items: center;
    }
}

.container .flex-container .text-container{
    width: 50%;
    height: 100%;
    /* background-color: rgb(118, 115, 115); */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-left: 150px;
}

@media screen and (max-width: 767px) {
    .container .flex-container .text-container{
        width: 100%;
    height: 100%;
    padding-left: 10px;
    }
}

.container .flex-container .text-container h1{
    font-size: 60px;
}

.container .flex-container .text-container h1 span{
    color: orange;
    font-family: mv boli;
}

.container .flex-container .text-container p{
    text-align: justify;
    line-height: 22px;
}

.container .flex-container .text-container a{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: orange;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(64, 67, 60);
}

.container .flex-container .image-container {
    width: 50%;
    height: auto;
    /* background-color: rgb(165, 148, 148); */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .container .flex-container .image-container{
        width: 100%;
        height: 100%;
    }
}

.container .flex-container .image-container img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.container .popular-category {
    width: 180px;
    padding: 10px;
    margin-left: 150px;
    font-family: Georgia;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .container .popular-category {
        margin-left: 10px;
    }
}

.container .popular-category-container{
    width: 80%;
    height: auto;
    margin-left: 150px;
    padding: 30px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 45px;
}

@media screen and (max-width: 767px) {
    .container .popular-category-container {
        margin-left: 10px;
        width: 100%;
    }
}

.container .popular-category-container .job-department{
    width: 150px;
    height: 150px;
    background: linear-gradient(45deg, white,rgb(118, 115, 111));
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 10px;
}

.container .popular-category-container .job-department i{
    color: purple;
    margin-bottom: 10px;
}

.container .popular-category-container .job-department p{
    color: purple;
    margin-bottom: 10px;
}

.container .popular-category-container .job-department h3{
    color: purple;
    margin-bottom: 10px;
}

.container .experience-level {
    width: 180px;
    padding: 10px;
    margin-left: 150px;
    font-family: Georgia;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .container .experience-level {
        margin-left: 10px;
    }
}

.container .experience-level-container{
    width: 80%;
    height: auto;
    margin-left: 150px;
    padding: 30px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 45px;
}

@media screen and (max-width: 767px) {
    .container .experience-level-container {
        margin-left: 10px;
        width: 100%;
    }
}

.container .experience-level-container .job-department{
    width: 150px;
    height: 150px;
    background: linear-gradient(45deg, white,rgb(118, 115, 111));
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 10px;
}

.container .experience-level-container .job-department i{
    color: purple;
    margin-bottom: 10px;
}

.container .experience-level-container .job-department p{
    color: purple;
    margin-bottom: 10px;
}

.container .experience-level-container .job-department h3{
    color: purple;
    margin-bottom: 10px;
}

.floating-action-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* .container .message-container {
    display: n;
} */

.container .message-container {
    width: 25%;
    height: 600px;
    background-color: rgb(252, 249, 249);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: fixed;
    right: -610px;
    bottom: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    overflow-y: scroll;
}

@media screen and (max-width: 767px) {
    .container .message-container {
        width: 70%;
    }
}

.container .message-container::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

.container .message-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the background color of the track */
}

.container .message-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the color of the scrollbar thumb */
    border-radius: 5px; /* Round the corners of the scrollbar thumb */
}

.container .message-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Change the color of the scrollbar thumb on hover */
}


.container .message-container .sender{
    width: 70%;
    height: auto;
    background-color: wheat;
    border-radius: 12px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    margin-left: 5px;
    align-self: flex-end;
    padding: 10px;
}

.container .message-container .sender .p{
    text-align: justify;
    line-height: 22px;
}

.container .message-container .reciever{
    width: 70%;
    height: auto;
    margin-bottom: 15px;
    margin-left: 100px;
    padding: 10px;
    background-color: wheat;
    border-radius: 12px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    align-self: flex-start;
}

.container .message-container .reciever .p{
    text-align: justify;
    line-height: 22px;
}

.container .message-container .input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    /* background-color: wheat; */
    width: 100%;
}

.container .message-container input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container .message-container button {
    padding: 8px 15px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
}

.footer-logo img {
    width: 100px;
    height: auto;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-social ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-social ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-info {
    text-align: center;
}



