{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>CreateJob.html</title>
    <link
      rel="shortcuts icon"
      type="x-icon"
      href="/JobBoard/JobBoardApp/static/JobBoardApp/images/favicon.png"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'JobBoardApp/css/Employers/CreateJob.css' %}"
    />
    <link
      href="{% static 'fontawesomefree/css/fontawesome.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/brands.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/solid.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}" />
  </head>
  <body>
    <nav id="navigation">
      <div class="mobile">
        <i class="fas fa-bars" id="menu"></i>
        <!-- Hamburger icon -->
        <i class="far fa-times" id="times"></i>
        <!-- Star icon (outline style) -->
      </div>
      <div class="logo">
        <img
          src="{% static '/JobBoardApp/images/logo.png' %}"
          alt="Example Image"
        />
      </div>

      <div class="search_container">
        <input
          type="text"
          id="user_name"
          name="user_name"
          class="form-control"
          placeholder="Search"
        />
        <button><i class="fas fa-search"></i></button>
      </div>

      <div class="employer_profile_image">
        <img
          src="{% static '/JobBoardApp/images/logo.png' %}"
          alt="Example Image"
        />
      </div>

      <div class="employer_profile">
        <ul>
          <li>
            <a href="#"><i class="fab fa-google"></i> Google Account</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-exchange-alt"></i> Switch account</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-sign-out-alt"></i> Sign out</a>
          </li>
          <li>
            <a href="#"><i class="fab fa-youtube"></i> YouTube Studio</a>
          </li>
          <li>
            <a href="#"
              ><i class="fas fa-shopping-cart"></i> Purchases and memberships</a
            >
          </li>
          <li>
            <a href="#"><i class="fas fa-database"></i> Your data in YouTube</a>
          </li>
          <li>
            <a href="#"
              ><i class="fas fa-paint-brush"></i> Appearance: Device theme</a
            >
          </li>
          <li>
            <a href="#"><i class="fas fa-language"></i> Language:</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-globe"></i> English</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-lock"></i> Restricted Mode: Off</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-map-marker-alt"></i> Location:</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-flag-usa"></i> United States</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-keyboard"></i> Keyboard shortcuts</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-cog"></i> Settings</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-question-circle"></i> Help</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-comment"></i> Send feedback</a>
          </li>
        </ul>
      </div>
    </nav>
    {% comment %} container {% endcomment %}
    <div class="container">
      {% comment %} left {% endcomment %}
      <div class="left">
        <ul>
            <li>
              <a href="{% url 'Employers'%}"
                ><i class="fas fa-file-alt"></i> View Jobs Uploaded</a
              >
            </li>
  
            <li>
              <a href="{% url 'ManageJobs'%}"
                ><i class="fas fa-briefcase"></i> Manage Jobs</a
              >
            </li>
  
            <li>
              <a href="{% url 'Messages'%}"><i class="fas fa-envelope"></i> Messages</a>
            </li>
        
            <li>
              <a href="{% url 'Notifications'%}"
                ><i class="fas fa-bell"></i> Notifications</a
              >
            </li>
            <li>
              <a href="{% url 'ApplicantTracking'%}"
                ><i class="fas fa-users"></i> Applicant Tracking</a
              >
            </li>
            <li>
              <a href="{% url 'Analytics'%}"><i class="fas fa-chart-bar"></i> Analytics</a>
            </li>
         
          </ul>
      </div>
      {% comment %} right {% endcomment %}
      <div class="right">
         {% comment %} create-jobs {% endcomment %}
      <div class="create-jobs">
        <form>
          <label for="jobTitle">Job Title:</label>
          <input
            type="text"
            id="jobTitle"
            name="jobTitle"
            required
          /><br /><br />

          <label for="vacancies">Vacancies:</label>
          <input
            type="text"
            id="vacancies"
            name="vacancies"
            required
          /><br /><br />

          <label for="jobDescription">Job Description:</label><br />
          <textarea
            id="jobDescription"
            name="jobDescription"
            rows="4"
            required
          ></textarea
          ><br /><br />

          <label for="jobType">Job Type:</label>
          <select id="jobType" name="jobType" required>
            <option value="full-time">Full-time</option>
            <option value="part-time">Part-time</option>
            <option value="contract">Contract</option></select
          ><br /><br />

          <label for="jobCategory">Job Category:</label>
          <select id="jobCategory" name="jobCategory" required>
            <option value="Information Technology">
              Information Technology
            </option>
            <option value="Healthcare">Healthcare</option>
            <option value="Finance">Finance</option>
            <option value="Engineering">Engineering</option>
            <option value="Education">Education</option>
            <option value="Sales">Sales</option>
            <option value="Customer Service">Customer Service</option>
            <option value="Marketing">Marketing</option>
            <option value="Human Resources">Human Resources</option>
            <option value="Hospitality">Hospitality</option>
            <option value="Retail">Retail</option>
            <option value="Legal">Legal</option>
            <option value="Construction">Construction</option>
            <option value="Administration">Administration</option>
            <option value="Design">Design</option>
            <option value="Manufacturing">Manufacturing</option>
            <option value="Transportation">Transportation</option>
            <option value="Logistics">Logistics</option>
            <option value="Media">Media</option>
            <option value="Arts">Arts</option>
            <option value="Government">Government</option>
            <option value="Nonprofit">Nonprofit</option>
          </select>

          <label for="language_requirements">Language Requirements:</label>
          <select
            id="language_requirements"
            name="language_requirements"
            required
          >
            <option value="category1">Entery level</option>
            <option value="category2">Junuir</option>
            <option value="category3">Sinour</option></select
          ><br /><br />

          <label for="work_experience">Work Experience:</label>
          <select id="work_experience" name="work_experience" required>
            <option value="category1">Entery level</option>
            <option value="category2">Junuir</option>
            <option value="category3">Sinour</option></select
          ><br /><br />

          <label for="visibility">Visibility:</label>
          <select id="visibility" name="visibility" required>
            <option value="category1">Entery level</option>
            <option value="category2">Junuir</option>
            <option value="category3">Sinour</option></select
          ><br /><br />

          <label for="jobLocation">Job Location:</label>
          <input
            type="text"
            id="jobLocation"
            name="jobLocation"
            required
          /><br /><br />

          <label for="salaryRange">Salary Range:</label>
          <input
            type="text"
            id="salaryRange"
            name="salaryRange"
            required
          /><br /><br />

          <label for="benefits">Benefits:</label><br />
          <textarea id="benefits" name="benefits" rows="4" required></textarea
          ><br /><br />

          <label for="contact_information">Contact Information:</label>
          <input
            type="text"
            id="contact_information"
            name="contact_information"
            required
          /><br /><br />

          <label for="certifications">Certifications:</label><br />
          <textarea
            id="certifications"
            name="certifications"
            rows="4"
            required
          ></textarea
          ><br /><br />

          <label for="company_description">Company Description:</label><br />
          <textarea
            id="company_description"
            name="company_description"
            rows="4"
            required
          ></textarea
          ><br /><br />

          <label for="additional_requirements">Additional Requirements:</label
          ><br />
          <textarea
            id="additional_requirements"
            name="additional_requirements"
            rows="4"
            required
          ></textarea
          ><br /><br />

          <label for="requiredExperience">Required Experience:</label>
          <input
            type="text"
            id="requiredExperience"
            name="requiredExperience"
            required
          /><br /><br />

          <label for="qualification">Qualification:</label>
          <input
            type="text"
            id="qualification"
            name="qualification"
            required
          /><br /><br />

          <label for="skills">Skills:</label>
          <input type="text" id="skills" name="skills" required /><br /><br />

          <label for="responsibilities">Responsibilities:</label><br />
          <textarea
            id="responsibilities"
            name="responsibilities"
            rows="4"
            required
          ></textarea
          ><br /><br />

          <label for="applicationDeadline">Application Deadline:</label>
          <input
            type="date"
            id="applicationDeadline"
            name="applicationDeadline"
            required
          /><br /><br />

          <label for="date_posted">Date Posted:</label>
          <input
            type="date"
            id="date_posted"
            name="date_posted"
            required
          /><br /><br />

          <label for="companyName">Company Name:</label>
          <input
            type="text"
            id="companyName"
            name="companyName"
            required
          /><br /><br />

          <label for="companyWebsite">Company Website:</label>
          <input
            type="url"
            id="companyWebsite"
            name="companyWebsite"
            required
          /><br /><br />

          <label for="companyEmail">Company Email:</label>
          <input
            type="email"
            id="companyEmail"
            name="companyEmail"
            required
          /><br /><br />

          <label for="companyLogo">Company Logo:</label>
          <input
            type="file"
            id="companyLogo"
            name="companyLogo"
            accept="image/*"
            required
          /><br /><br />

          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
    </div>
    <script src="{% static 'JobBoardApp/js/Employers/CreateJob.js' %}"></script>
  </body>
</html>
