{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>JobsDetail.html</title>
    <link
      rel="shortcuts icon"
      type="x-icon"
      href="/JobBoard/JobBoardApp/static/JobBoardApp/images/favicon.png"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'JobBoardApp/css/Employers/JobsDetail.css' %}"
    />
    <link
      href="{% static 'fontawesomefree/css/fontawesome.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/brands.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/solid.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}" />
  </head>
  <body>
    <nav id="navigation">
      <div class="mobile">
        <i class="fas fa-bars" id="menu"></i>
        <!-- Hamburger icon -->
        <i class="far fa-times" id="times"></i>
        <!-- Star icon (outline style) -->
      </div>
      <div class="logo">
        <img
          src="{% static '/JobBoardApp/images/logo.png' %}"
          alt="Example Image"
        />
      </div>

      <div class="search_container">
        <input
          type="text"
          id="user_name"
          name="user_name"
          class="form-control"
          placeholder="Search"
        />
        <button><i class="fas fa-search"></i></button>
      </div>

      <div class="employer_profile_image">
        <img
          src="{% static '/JobBoardApp/images/logo.png' %}"
          alt="Example Image"
        />
      </div>

      <div class="employer_profile">
        <ul>
          <li>
            <a href="#"><i class="fab fa-google"></i> Google Account</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-exchange-alt"></i> Switch account</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-sign-out-alt"></i> Sign out</a>
          </li>
          <li>
            <a href="#"><i class="fab fa-youtube"></i> YouTube Studio</a>
          </li>
          <li>
            <a href="#"
              ><i class="fas fa-shopping-cart"></i> Purchases and memberships</a
            >
          </li>
          <li>
            <a href="#"><i class="fas fa-database"></i> Your data in YouTube</a>
          </li>
          <li>
            <a href="#"
              ><i class="fas fa-paint-brush"></i> Appearance: Device theme</a
            >
          </li>
          <li>
            <a href="#"><i class="fas fa-language"></i> Language:</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-globe"></i> English</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-lock"></i> Restricted Mode: Off</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-map-marker-alt"></i> Location:</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-flag-usa"></i> United States</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-keyboard"></i> Keyboard shortcuts</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-cog"></i> Settings</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-question-circle"></i> Help</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-comment"></i> Send feedback</a>
          </li>
        </ul>
      </div>
    </nav>
    {% comment %} container {% endcomment %}
    <div class="container">
      {% comment %} left {% endcomment %}
      <div class="left">
        <ul>
            <li>
              <a href="{% url 'Employers'%}"
                ><i class="fas fa-file-alt"></i> View Jobs Uploaded</a
              >
            </li>

            <li>
              <a href="{% url 'CreateJob'%}" id="create_job"
                ><i class="fas fa-plus"></i> Create Job</a
              >
            </li>
  
            <li>
              <a href="{% url 'ManageJobs'%}"
                ><i class="fas fa-briefcase"></i> Manage Jobs</a
              >
            </li>
  
            <li>
              <a href="{% url 'Messages'%}"><i class="fas fa-envelope"></i> Messages</a>
            </li>
        
            <li>
              <a href="{% url 'Notifications'%}"
                ><i class="fas fa-bell"></i> Notifications</a
              >
            </li>
            <li>
              <a href="{% url 'ApplicantTracking'%}"
                ><i class="fas fa-users"></i> Applicant Tracking</a
              >
            </li>
            <li>
              <a href="{% url 'Analytics'%}"><i class="fas fa-chart-bar"></i> Analytics</a>
            </li>
         
          </ul>
      </div>
      {% comment %} right {% endcomment %}
      <div class="right">
       {% comment %} jobs_detail {% endcomment %}
      <div class="jobs_detail">
        <div class="flex-box">
          <label for="jobTitle">Job Title:</label>
          <p>Frontend Developer</p>
        </div>
        <div class="flex-box">
          <label for="vacancies">Vacancies:</label>
          <p>3</p>
        </div>
        <div class="flex-box block-box">
          <label for="jobDescription">Job Description:</label>
          <p>
            These are just some of the properties you might consider including
            when creating a job listing. The specific properties you include may
            vary depending on the nature of the job and the needs of your
            application. These are just some of the properties you might
            consider including when cre ating a job listing. The specific
            properties you include may vary depending o n the nature of the job
            and the needs of your application. These are just some of the
            properties you might consider including when creating a job listing.
            The specific properties you include may vary depending on the nature
            of the job and the needs of your application. These are just some of
            the properties you might consider including when cre ating a job
            listing. The specific properties you include may vary depending o n
            the nature of the job and the needs of your application. These are
            just some of the properties you might consider including when
            creating a job listing. The specific properties you include may vary
            depending on the nature of the job and the needs of your
            application. These are just some of the properties you might
            consider including when cre ating a job listing. The specific
            properties you include may vary depending o n the nature of the job
            and the needs of your application.
          </p>
        </div>
        <div class="flex-box">
          <label for="jobType">Job Type:</label>
          <p>Full-time</p>
        </div>
        <div class="flex-box">
          <label for="jobCategory">Job Category:</label>
          <p>Information Technology</p>
        </div>
        <div class="flex-box">
          <label for="language_requirements">Language Requirements:</label>
          <p>English, Spanish</p>
        </div>
        <div class="flex-box">
          <label for="work_experience">Work Experience:</label>
          <p>3 years</p>
        </div>
        <div class="flex-box">
          <label for="visibility">Visibility:</label>
          <p>Public</p>
        </div>
        <div class="flex-box">
          <label for="jobLocation">Job Location:</label>
          <p>New York, NY</p>
        </div>
        <div class="flex-box">
          <label for="salaryRange">Salary Range:</label>
          <p>$60,000 - $80,000</p>
        </div>
        <div class="flex-box block-box">
          <label for="benefits">Benefits:</label>
          <p>
            These are just some of the properties you might consider including
            when creating a job listing. The specific properties you include may
            vary depending on the nature of the job and the needs of your
            application. These are just some of the properties you might
            consider including when cre ating a job listing. The specific
            properties you include may vary depending o n the nature of the job
            and the needs of your application. These are just some of the
            properties you might consider including when creating a job listing.
            The specific properties you include may vary depending on the nature
            of the job and the needs of your application. These are just some of
            the properties you might consider including when cre ating a job
            listing. The specific properties you include may vary depending o n
            the nature of the job and the needs of your application. These are
            just some of the properties you might consider including when
            creating a job listing. The specific properties you include may vary
            depending on the nature of the job and the needs of your
            application. These are just some of the properties you might
            consider including when cre ating a job listing. The specific
            properties you include may vary depending o n the nature of the job
            and the needs of your application.
          </p>
        </div>
        <div class="flex-box">
          <label for="contact_information">Contact Information:</label>
          <p>John Doe - john.doe@example.com</p>
        </div>
        <div class="flex-box block-box">
          <label for="certifications">Certifications:</label>
          <p>
            These are just some of the properties you might consider including
            when creating a job listing. The specific properties you include may
            vary depending on the nature of the job and the needs of your
            application. These are just some of the properties you might
            consider including when cre ating a job listing. The specific
            properties you include may vary depending o n the nature of the job
            and the needs of your application. These are just some of the
            properties you might consider including when creating a job listing.
            The specific properties you include may vary depending on the nature
            of the job and the needs of your application. These are just some of
            the properties you might consider including when cre ating a job
            listing. The specific properties you include may vary depending o n
            the nature of the job and the needs of your application. These are
            just some of the properties you might consider including when
            creating a job listing. The specific properties you include may vary
            depending on the nature of the job and the needs of your
            application. These are just some of the properties you might
            consider including when cre ating a job listing. The specific
            properties you include may vary depending o n the nature of the job
            and the needs of your application.
          </p>
        </div>
        <div class="flex-box block-box">
          <label for="company_description">Company Description:</label>
          <p>
            These are just some of the properties you might consider including
            when creating a job listing. The specific properties you include may
            vary depending on the nature of the job and the needs of your
            application. These are just some of the properties you might
            consider including when cre ating a job listing. The specific
            properties you include may vary depending o n the nature of the job
            and the needs of your application. These are just some of the
            properties you might consider including when creating a job listing.
            The specific properties you include may vary depending on the nature
            of the job and the needs of your application. These are just some of
            the properties you might consider including when cre ating a job
            listing. The specific properties you include may vary depending o n
            the nature of the job and the needs of your application. These are
            just some of the properties you might consider including when
            creating a job listing. The specific properties you include may vary
            depending on the nature of the job and the needs of your
            application. These are just some of the properties you might
            consider including when cre ating a job listing. The specific
            properties you include may vary depending o n the nature of the job
            and the needs of your application.
          </p>
        </div>
        <div class="flex-box block-box">
          <label for="additional_requirements">Additional Requirements:</label>
          <p>
            These are just some of the properties you might consider including
            when creating a job listing. The specific properties you include may
            vary depending on the nature of the job and the needs of your
            application. These are just some of the properties you might
            consider including when cre ating a job listing. The specific
            properties you include may vary depending o n the nature of the job
            and the needs of your application. These are just some of the
            properties you might consider including when creating a job listing.
            The specific properties you include may vary depending on the nature
            of the job and the needs of your application. These are just some of
            the properties you might consider including when cre ating a job
            listing. The specific properties you include may vary depending o n
            the nature of the job and the needs of your application. These are
            just some of the properties you might consider including when
            creating a job listing. The specific properties you include may vary
            depending on the nature of the job and the needs of your
            application. These are just some of the properties you might
            consider including when cre ating a job listing. The specific
            properties you include may vary depending o n the nature of the job
            and the needs of your application.
          </p>
        </div>
        <div class="flex-box">
          <label for="requiredExperience">Required Experience:</label>
          <p>3 years</p>
        </div>
        <div class="flex-box block-box">
          <label for="qualification">Qualification:</label>
          <p>
            These are just some of the properties you might consider including
            when creating a job listing. The specific properties you include may
            vary depending on the nature of the job and the needs of your
            application. These are just some of the properties you might
            consider including when cre ating a job listing. The specific
            properties you include may vary depending o n the nature of the job
            and the needs of your application. These are just some of the
            properties you might consider including when creating a job listing.
            The specific properties you include may vary depending on the nature
            of the job and the needs of your application. These are just some of
            the properties you might consider including when cre ating a job
            listing. The specific properties you include may vary depending o n
            the nature of the job and the needs of your application. These are
            just some of the properties you might consider including when
            creating a job listing. The specific properties you include may vary
            depending on the nature of the job and the needs of your
            application. These are just some of the properties you might
            consider including when cre ating a job listing. The specific
            properties you include may vary depending o n the nature of the job
            and the needs of your application.
          </p>
        </div>
        <div class="flex-box block-box">
          <label for="skills">Skills:</label>
          <p>
            These are just some of the properties you might consider including
            when creating a job listing. The specific properties you include may
            vary depending on the nature of the job and the needs of your
            application. These are just some of the properties you might
            consider including when cre ating a job listing. The specific
            properties you include may vary depending o n the nature of the job
            and the needs of your application. These are just some of the
            properties you might consider including when creating a job listing.
            The specific properties you include may vary depending on the nature
            of the job and the needs of your application. These are just some of
            the properties you might consider including when cre ating a job
            listing. The specific properties you include may vary depending o n
            the nature of the job and the needs of your application. These are
            just some of the properties you might consider including when
            creating a job listing. The specific properties you include may vary
            depending on the nature of the job and the needs of your
            application. These are just some of the properties you might
            consider including when cre ating a job listing. The specific
            properties you include may vary depending o n the nature of the job
            and the needs of your application.
          </p>
        </div>
        <div class="flex-box block-box">
          <label for="responsibilities">Responsibilities:</label>
          <p>
            These are just some of the properties you might consider including
            when creating a job listing. The specific properties you include may
            vary depending on the nature of the job and the needs of your
            application. These are just some of the properties you might
            consider including when cre ating a job listing. The specific
            properties you include may vary depending o n the nature of the job
            and the needs of your application. These are just some of the
            properties you might consider including when creating a job listing.
            The specific properties you include may vary depending on the nature
            of the job and the needs of your application. These are just some of
            the properties you might consider including when cre ating a job
            listing. The specific properties you include may vary depending o n
            the nature of the job and the needs of your application. These are
            just some of the properties you might consider including when
            creating a job listing. The specific properties you include may vary
            depending on the nature of the job and the needs of your
            application. These are just some of the properties you might
            consider including when cre ating a job listing. The specific
            properties you include may vary depending o n the nature of the job
            and the needs of your application.
          </p>
        </div>
        <div class="flex-box">
          <label for="applicationDeadline">Application Deadline:</label>
          <p>2024-03-01</p>
        </div>
        <div class="flex-box">
          <label for="date_posted">Date Posted:</label>
          <p>2024-02-25</p>
        </div>
        <div class="flex-box">
          <label for="companyName">Company Name:</label>
          <p>ABC Company</p>
        </div>
        <div class="flex-box">
          <label for="companyWebsite">Company Website:</label>
          <p>www.abc.com</p>
        </div>
        <div class="flex-box">
          <label for="companyEmail">Company Email:</label>
          <p>info@abc.com</p>
        </div>
        <div class="flex-box">
          <label for="companyLogo">Company Logo:</label>
          <div class="companyLogo">
            <img
              src="{% static '/JobBoardApp/images/logo.png' %}"
              alt="Example Image"
            />
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'JobBoardApp/js/Employers/JobsDetail.js' %}"></script>
  </body>
</html>
